{% extends 'plantilla.html' %}
{% load static %} 

{% block content %}

<div class="imgheader">
    <div class="tituloIndex pt-5">
        <h2 class="pt-5">{{ servicios.titulo  | safe }}</h2>
    </div>       
</div>


    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                {% autoescape off %}
                    {{ servicios.contenido  | safe }}
                {% endautoescape %}
            </div>
        </div>
    </div>


{% endblock content %}